body {
  padding: 0;
  margin: 0;
  box-sizing: border;
  width: 100vw;
}
.loading {
  font-size: 1em;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3vh 4vw;
  overflow-x: hidden;
}
.product {
  width: fit-content;
  flex-basis: auto;
  margin: 2vh 0;
  height: 300px;
  overflow: hidden;
}
